body{
    background-color: aliceblue;
}

h1{
    font-weight: bold;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    width: 300px;
    height: auto;
}

h2{
    color: rgb(128, 90, 21);
}

p{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li{
   font-size: 16px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   text-align: justify;
}